@page "/login"
@using OrderDeliverySystem.Share.DTOs
@using OrderDeliverySystem.Client.Infrastructure.Services.Authentication
@using OrderDeliverySystem.Client.Shared.Common
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation
@inject IAuthService AuthService
@rendermode InteractiveServer
<MudContainer Class="my-10 d-flex justify-content-center">
    <MudPaper Class="my-15 px-10 py-10 d-flex justify-content-center align-items-center w-50" MinWidth="350px" >
        <div class="w-100">
            <MudText Typo="Typo.h4">Login</MudText>
            <MudDivider Class="my-5" Style="color:rgba(112, 0, 0, 1);border-color:rgba(112, 0, 0, 1);border-width:3px;" />
@* Display message to user if it's not empty *@
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert @alertClass" role="alert">
        @message
    </div>
}
      
<EditForm  Model="@model" OnValidSubmit="HandleLogin" FormName="loginForm">
    <ErrorsList ShowErrors="@ShowErrors" Errors="@Errors" />
    <DataAnnotationsValidator />

    <MudField Underline="false">
        <MudTextField id="email" @bind-Value="model.Email" Label="Email" For="@(() => model.Email)" Variant="Variant.Outlined" />
    </MudField>
  
    <MudField Underline="false">
        <MudTextField id="Password" @bind-Value="model.Password" Label="Password" For="@(() => model.Password)" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
    </MudField>
                <MudDivider Class="my-5" Style="color:rgba(112, 0, 0, 1);border-color:rgba(112, 0, 0, 1);border-width:3px;" />
    <MudPaper Class=" d-flex justify-center" Elevation="0">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="width:40%; color:white;background-color:rgba(112, 0, 0, 1);" Class="my-5 text-center rounded-pill"> Login </MudButton>

     </MudPaper>
   
</EditForm>
           
        <MudText Class="text-center mt-4">Don't have account? <MudLink Class="text-decoration-underline" Color="Color.Default" Href="/register">Create one now</MudLink></MudText>
            
        </div>
 </MudPaper>
</MudContainer>
@code {
    // Create an instance of LoginModel to bind form data
    private readonly LoginRequestDTO model = new LoginRequestDTO();

    public bool ShowErrors { get; set; } = false;

    public string Errors { get; set; } = string.Empty;

    private string message { get; set; } = string.Empty;
    private string alertClass { get; set; } = string.Empty;
    private bool showAlert { get; set; } = false;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    // Handle form submission
    private async Task HandleLogin()
    {
        // Send a POST request to the login API endpoint
        var result = await this.AuthService.Login(this.model);

        if (result.Succeeded)
        {

            this.ShowErrors = false;

            this.message = "You have successfully logged in!";
            this.alertClass = "alert-success";
            this.showAlert = true;

            await Task.Delay(3000);

            // Login successful, navigate to home page or dashboard
                
            Navigation.NavigateTo("/", forceLoad: true);
            StateHasChanged();
        }
        else
        {
            // Handle login failure
            this.Errors = result.Error;
            this.ShowErrors = true;
        }
    }

    void Buttonclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}