@page "/register"
@using System.ComponentModel.DataAnnotations
@using OrderDeliverySystem.Client.Infrastructure.Services.Authentication
@using OrderDeliverySystem.Client.Shared.Common
@using OrderDeliverySystem.Share.DTOs
@using OrderDeliverySystem.Share.Data
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<MudContainer Class="my-10 d-flex justify-content-center">
    <MudPaper Class="my-15 py-10 px-10 d-flex justify-content-center align-items-center w-50 " MinWidth="350px" >
        <div class="w-100">
<h3>Register</h3>
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert @alertClass" role="alert">
        @message
    </div>
}

<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit" FormName="registerForm">
    <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
    <DataAnnotationsValidator />
                <MudDivider Class="my-5" Style="color:rgba(112, 0, 0, 1);border-color:rgba(112, 0, 0, 1);border-width:3px;" />
    <MudField Underline="false">
                <MudTextField id="email" @bind-Value="user.Email" Label="Email" For="@(() => user.Email)" Variant="Variant.Outlined" />
    </MudField>

    <MudField Underline="false">
                <MudTextField id="Password" @bind-Value="user.Password" Label="Password" For="@(() => user.Password)" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
    </MudField>

    <MudField Underline="false">
                <MudTextField id="confirmPassword" @bind-Value="user.ConfirmPassword" Label="Confirm Password" For="@(() => user.ConfirmPassword)" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
    </MudField>
     <MudDivider Class="my-5" Style="color:rgba(112, 0, 0, 1);border-color:rgba(112, 0, 0, 1);border-width:3px;" />
     <MudPaper Class="d-flex justify-content-center" Elevation="0">
                 <MudButton ButtonType="ButtonType.Submit" Style="width:40%; color:white;background-color:rgba(112, 0, 0, 1);" Class="my-5 text-center rounded-pill" > Register </MudButton>
    </MudPaper>


</EditForm>

            <MudText Class="text-center mt-4">Have an account? <MudLink Class="text-decoration-underline" Color="Color.Default" Href="/login">Log In</MudLink></MudText>
        </div>
    </MudPaper>
</MudContainer>

@code {
    // Model for user registration
    private readonly CustomerRegisterDTO user = new CustomerRegisterDTO();

    public bool ShowErrors { get; set; } = false;

    public string Errors { get; set; } = string.Empty;

    private string message { get; set; } = string.Empty;
    private string alertClass { get; set; } = string.Empty;
    private bool showAlert { get; set; } = false;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private async Task HandleValidSubmit()
    {

        var result = await this.AuthService.Register(this.user);

        if (result.Succeeded)
        {
            this.ShowErrors = false;

            this.message = "You have successfully registered.\n Please login.";
            this.alertClass = "alert-success";
            this.showAlert = true;

            // Force UI update
            await InvokeAsync(StateHasChanged);

            // Wait for 2 seconds to show success message
            await Task.Delay(2000);

            this.NavigationManager.NavigateTo("/login");
        }
        else
        {
            // Registration failed
            this.Errors = result.Error;
            this.ShowErrors = true;
        }

        // Force UI update to show message
        await InvokeAsync(StateHasChanged);
    }

    void Buttonclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}