
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using OrderDeliverySystem.Client.Infrastructure.Services.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudContainer Class="my-10">



    <MudNavMenu Class="mud-width-full">
        <div class="d-flex justify-content-center">
            <MudImage Src="images/food.png" Width="120" Height="80" Alt="Swedish Farm House" Href="/" Class="rounded-lg m-4" />
        </div>
        <div class="d-flex justify-content-center">
            <MudText Typo="Typo.h6" Class="px-4">My Application</MudText>
        </div>
        <div class="d-flex justify-content-center">
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
        </div>

        <MudDivider Class="my-2" />
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink Href="/user-management" Icon="@Icons.Material.Filled.Dashboard">User Management</MudNavLink>
                <MudNavLink Href="/review-list" Icon="@Icons.Material.Filled.Dashboard">Review  Management</MudNavLink>
                <MudNavLink Href="/password" Icon="@Icons.Material.Filled.Receipt">Password Reset</MudNavLink>
                <MudNavLink Href="/password" Icon="@Icons.Material.Filled.Receipt">Password Reset</MudNavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Merchant">
            <Authorized>
                <MudNavLink Href="/merchant-profile" Icon="@Icons.Material.Filled.Dashboard">Profile Management</MudNavLink>
                <MudNavLink Href="/merchant-items" Icon="@Icons.Material.Filled.Dashboard">Product Management</MudNavLink>
                <MudNavLink Href="/merchant-orders" Icon="@Icons.Material.Filled.Dashboard">Order Management</MudNavLink>
                <MudNavLink Href="/merchant-reviews" Icon="@Icons.Material.Filled.Dashboard">Review Management</MudNavLink>
                <MudNavLink Href="/password" Icon="@Icons.Material.Filled.Receipt">Password Reset</MudNavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Worker">
            <Authorized>
                <MudNavLink Href="/worker-profile" Icon="@Icons.Material.Filled.Dashboard">Profile Management</MudNavLink>
                <MudNavLink Href="/worker-order" Icon="@Icons.Material.Filled.Dashboard">Order</MudNavLink>
                <MudNavLink Href="/worker-history-orders" Icon="@Icons.Material.Filled.Dashboard">Histiry Order</MudNavLink>
                <MudNavLink Href="/password" Icon="@Icons.Material.Filled.Receipt">Password Reset</MudNavLink>
            </Authorized>
        </AuthorizeView>
 
</MudNavMenu>

</MudContainer>
@code {
    [Inject]
    private IAuthService AuthService { get; set; }
    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

    }
}

