@using MudBlazor
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using OrderDeliverySystem.Client.Infrastructure.Services.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IJSRuntime JSRuntime
<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudHidden Class="my-10" Breakpoint="Breakpoint.MdAndUp" Invert="true">
         <MudAppBar Height="Auto" Class="p-3 bg-white">
        <NavMenu />
        </MudAppBar>
    </MudHidden>
   
        
    <MudHidden Class="my-10" Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <MudAppBar Elevation="1" Dense="@_dense" Height="Auto" Class="p-3 bg-white">
            <AuthorizeView Roles="Admin,Merchant,Worker">
                <Authorized>
                    <MudLink Href="/"><MudImage Src="images/logo.png" Width="120" Height="80" Alt="Swedish Farm House" Href="/dashboard" Class="rounded-lg m-4" /></MudLink>
                </Authorized>
               <NotAuthorized>
                    <MudLink Href="/"><MudImage Src="images/logo.png" Width="120" Height="80" Alt="Swedish Farm House" Href="/" Class="rounded-lg m-4" /></MudLink>
                </NotAuthorized>
            </AuthorizeView>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Menu"  Edge="Edge.End" OnClick="@ToggleDrawer" Style="color: rgba(168, 0, 0, 1);" />

           
        </MudAppBar>
        <MudDrawer @bind-Open="@_open" Anchor="Anchor.Top" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true">
            <MudDrawerHeader>
                <AuthorizeView Roles="Admin,Merchant,Worker">
                    <Authorized>
                        <MudLink Href="/"><MudImage Src="images/logo.png" Width="70" Height="40" Alt="Swedish Farm House" Href="/dashboard" Class="rounded-lg m-4" /></MudLink>
                    </Authorized>
                    <NotAuthorized>
                        <MudLink Href="/"><MudImage Src="images/logo.png" Width="70" Height="40" Alt="Swedish Farm House" Href="/" Class="rounded-lg m-4" /></MudLink>
                    </NotAuthorized>
                </AuthorizeView>
                 <MudSpacer />
                <MudIconButton Href="/customer-profile" Icon="@Icons.Material.Filled.PersonOutline" Style="color: rgba(168, 0, 0, 1);" />
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All">Store</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All">Library</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
                <MudNavLink OnClick="_ => _open = false">Close Menu</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </MudHidden>

    <AuthorizeView Roles="Admin,Merchant,Worker">
 

       <Authorized>
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Style="max-height:650px;">
                <LeftNavBar />
            </MudDrawer>
          
       </Authorized>
 
    </AuthorizeView>
    <MudMainContent Class="my-1" Style="min-height:700px;">

        @Body
    </MudMainContent>
    <AuthorizeView Roles="Admin,Merchant,Worker">
        <Authorized>
            <MudStack Bottom="true" Class="mt-4 bg-light p-2" >

                <Footer />
            </MudStack>
        </Authorized>
        <NotAuthorized>
            <MudPaper Bottom="true" Class="mt-4 bg-light p-5">

                <Footer />
            </MudPaper>
        </NotAuthorized>
    </AuthorizeView>
   
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    
</MudLayout>

@code {

    [Inject]
    private IAuthService AuthService { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
      
        await base.OnInitializedAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

    }
    private bool _open = false;
    private bool _dense = false;
    private DrawerClipMode _clipMode = DrawerClipMode.Never;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
    bool _drawerOpen = true;
    
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    Color Color = Color.Success;
    private void OnScroll(ScrollEventArgs e)
    {
        Color = (e.FirstChildBoundingClientRect.Top * -1) switch
        {
            var x when x < 500 => Color.Primary,
            var x when x < 1500 => Color.Secondary,
            var x when x < 2500 => Color.Tertiary,
            _ => Color.Error
        };
    }
}
@code {
    
}
