@page "/merchant-profile"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@using MudBlazor
@using Newtonsoft.Json
@using OrderDeliverySystem.Share.DTOs
@using OrderDeliverySystem.Client.Shared.Common
@using System.Security.Claims
@using OrderDeliverySystem.Client.Infrastructure.Services.Profile
@using System.Text.Json
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager NavigationManager
@inject IProfileService ProfileService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject IAuthorizationService AuthorizationService
@rendermode InteractiveAuto
<br>
<br />
<br />
<br />
@if (isLoading)
{
    <p>Loading profile...</p>
}
else if (model != null)
{
    <MudContainer>
        <div Style="display:none;">
            <MudField id="userId" Text="@model.UserId" />
        </div>
        <MudGrid>
            <MudItem xs="10">
                <MudItem xs="2">
                    <MudField Label="Business Name:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.BusinessName</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Firstname:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.FirstName</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Lastname:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.LastName</MudText>
                    </MudField>
                </MudItem>
 

                <MudItem xs="2">
                    <MudField Label="Email:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.Email</MudText>
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                    <MudField Label="Phone:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.Phone</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Description:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.MerchantDescription</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Preparing Time:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.PreparingTime</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Unit:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.Unit</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Address:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.Address</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="City:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.City</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Province:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.Province</MudText>
                    </MudField>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Postcode:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <MudText>@model.Postcode</MudText>
                    </MudField>
                </MudItem>
            </MudItem>
            <MudItem xs="2">
                <MudItem xs="8">
                    <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                        <img src="@model.MerchantPic" alt="Merchant Picture" style="max-width: 100%; height: auto;" />
                    </MudField>
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudContainer>

}
@code {
    private ClaimsPrincipal user;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private MerchantProfileDTO model = new MerchantProfileDTO { BusinessName = "New business" }; 

    [Parameter]
    public int UserId { get; set; }

    public bool ShowErrors { get; set; } = false;
    public IEnumerable<string> Errors { get; set; } = new List<string>();

    private int userId = 4;
    private bool isLoading = true;

    private async Task LoadMerchantProfile()
    {
        if (authenticationState is not null)
        {
            if (user is not null)
            {
                if (user.IsInRole("Merchant"))
                {
                    model = await ProfileService.GetMerchantProfile();

                }
                else
                {
                    model = await ProfileService.GetMerchantProfile(UserId);

                }
                isLoading = false;
                StateHasChanged();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        user = authState.User;
        await LoadMerchantProfile();
    }
}