@page "/merchant-profile"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@using MudBlazor
@using Newtonsoft.Json
@using OrderDeliverySystem.Share.DTOs
@using OrderDeliverySystem.Client.Shared.Common
@using System.Security.Claims
@using OrderDeliverySystem.Client.Infrastructure.Services.Profile
@using System.Text.Json
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager NavigationManager
@inject IProfileService ProfileService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject IAuthorizationService AuthorizationService
@rendermode InteractiveAuto

<MudContainer Class="my-10 d-flex justify-content-center align-content-center" MaxWidth="MaxWidth.ExtraLarge" Style="min-height:620px">
    @if (isLoading)
    {
        <p>Loading profile...</p>
    }
    else if (model != null)
    {
        <MudPaper Class="px-16 py-10 ma-2" Elevation="3" Width="100%">
            <div Style="display:none;">
                <MudField id="userId" Text="@model.UserId" />
            </div>
            <AuthorizeView Roles="Merchant" Context="MerchantOnly">
                <Authorized>
                    <div class=" d-flex justify-content-between align-content-center">
                        <MudText Class="py-4" Typo="Typo.h4" Align="Align.Start" GutterBottom="false">My profile</MudText>
                        <MudFab Href="/merchant-profile/edit" Style="color:white;background-color:rgba(112, 0, 0, 1);" Label="Edit Profile"></MudFab>

                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class=" d-flex justify-content-between align-content-center">
                        <MudText Class="py-4" Typo="Typo.h4" Align="Align.Start" GutterBottom="false">Merchant profile</MudText>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

            <MudDivider Class=" border-4" Style="border-color:rgba(112, 0, 0, 1);" />
            <MudGrid>
                <MudItem xs="7">
                    <MudGrid>
                        <MudItem xs="4">
                            <MudField Label="Business Name:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.BusinessName</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Firstname:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.FirstName</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Lastname:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.LastName</MudText>
                            </MudField>
                        </MudItem>


                        <MudItem xs="4">
                            <MudField Label="Email:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.Email</MudText>
                            </MudField>
                        </MudItem>
                        <MudItem xs="4">
                            <MudField Label="Phone:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.Phone</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Description:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.MerchantDescription</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Preparing Time:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.PreparingTime</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Unit:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.Unit</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Address:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.Address</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="City:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.City</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Province:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.Province</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="4">
                            <MudField Label="Postcode:" AlignLabel="Align.Start" Underline="false" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                                <MudText>@model.Postcode</MudText>
                            </MudField>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="5">
                    <MudItem xs="12">
                        <MudField Underline="false" Margin="Margin.None" Style="margin-top: 16px;">
                            <MudImage src="@model.MerchantPic" alt="Merchant Picture" style="max-width: 100%; height: auto;" Class="rounded-lg ma-4" />
                        </MudField>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </MudPaper>

    }
</MudContainer>
@code {
    private ClaimsPrincipal user;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private MerchantProfileDTO model = new MerchantProfileDTO { BusinessName = "New business" };

    [Parameter]
    public int UserId { get; set; }

    public bool ShowErrors { get; set; } = false;
    public IEnumerable<string> Errors { get; set; } = new List<string>();

    private bool isLoading = true;

    private async Task LoadMerchantProfile()
    {
        if (authenticationState is not null)
        {
            if (user is not null)
            {
                if (user.IsInRole("Merchant"))
                {
                    model = await ProfileService.GetMerchantProfile();

                }
                else
                {
                    model = await ProfileService.GetMerchantProfile(UserId);

                }
                isLoading = false;
                StateHasChanged();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        user = authState.User;
        await LoadMerchantProfile();
    }
}