@page "/admin/create"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@using MudBlazor
@using Newtonsoft.Json
@using OrderDeliverySystem.Share.DTOs
@using OrderDeliverySystem.Client.Shared.Common
@using System.Security.Claims
@using OrderDeliverySystem.Client.Infrastructure.Services.Authentication
@using OrderDeliverySystem.Share.Data
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@rendermode InteractiveAuto

<br>
<br />
<br />
<br />
<MudContainer>
    <MudGrid>
        <MudItem xs="12">
            <h3>Assign User Role</h3>
        </MudItem>
        <MudItem xs="2">
            <MudField Label="User Role:" AlignLabel="Align.Start" Underline="false" />
        </MudItem>
        <MudItem xs="8">
            <MudField Underline="false">
                    <MudSelect @bind-value="isWorker" T="bool"
                            Variant="Variant.Filled"
                            Dense="true">
                    <MudSelectItem Value="false">Merchant</MudSelectItem>
                    <MudSelectItem Value="true">Delivery worker</MudSelectItem>
                </MudSelect>
            </MudField>
        </MudItem>
        <MudItem xs="2">
        </MudItem>
    </MudGrid>
    <MudContainer>

    @if (!isWorker)
    {
    <EditForm Model="@merchantModel" OnValidSubmit="HandleCreateProfile" FormName="profileForm">
        <ChildContent Context="merchantFormContext">
        <DataAnnotationsValidator />
        <MudGrid>
                <MudItem xs="12">
                    <h3>Basic Information</h3>
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Business Name:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                        <MudField Underline="false" >
                            <MudTextField id="businessName" @bind-Value="merchantModel.BusinessName" For="@(() => merchantModel.BusinessName)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Firstname:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                            <MudTextField id="firstName" @bind-Value="merchantModel.FirstName" For="@(() => merchantModel.FirstName)" Variant="Variant.Filled"  />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Lastname:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                            <MudTextField id="lastName" @bind-Value="merchantModel.LastName" For="@(() => merchantModel.LastName)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Phone:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="phone" @bind-Value="merchantModel.Phone" For="@(() => merchantModel.Phone)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Description:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="merchantDescription" @bind-Value="merchantModel.MerchantDescription" For="@(() => merchantModel.MerchantDescription)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Preparing Time:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="preparingTime" @bind-Value="merchantModel.PreparingTime" For="@(() => merchantModel.PreparingTime)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Unit:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="unit" @bind-Value="merchantModel.Unit" For="@(() => merchantModel.Unit)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Address:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="address" @bind-Value="merchantModel.Address" For="@(() => merchantModel.Address)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="City:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="city" @bind-Value="merchantModel.City" For="@(() => merchantModel.City)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Province:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="province" @bind-Value="merchantModel.Province" For="@(() => merchantModel.Province)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Postcode:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="postcode" @bind-Value="merchantModel.Postcode" For="@(() => merchantModel.Postcode)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="12">
                    <h3>Login Information</h3>
                </MudItem>
                <MudItem xs="12">
                    <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                    @if (ShowResult)
                    {
                        <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true">@message</MudAlert>
                    }
                </MudItem>

                <MudItem xs="2">
                        <MudField Label="Email:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                        <MudTextField id="email" @bind-Value="merchantModel.Email" For="@(() => merchantModel.Email)" Variant="Variant.Filled" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                        <MudField Label="Password:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                                <MudTextField id="password" @bind-Value="merchantModel.Password" For="@(() => merchantModel.Password)" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="2">
                    <MudField Label="Confirm Password:" AlignLabel="Align.Start" Underline="false" />
                </MudItem>
                <MudItem xs="8">
                    <MudField Underline="false">
                                <MudTextField id="confirmPassword" @bind-Value="merchantModel.ConfirmPassword" For="@(() => merchantModel.ConfirmPassword)" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
                    </MudField>
                </MudItem>
                <MudItem xs="2">
                </MudItem>

                <MudItem xs="12">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Error" OnClick="@(()=>HandleCreateProfile())" Class="object-center">Create Merchant</MudButton>
                </MudItem>
            </MudGrid>
        </ChildContent>
    </EditForm>
       
    }
    else
    {
        <EditForm Model="@workerModel" OnValidSubmit="HandleCreateProfile" FormName="profileForm">
            <ChildContent Context="workerFormContext">
            <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
            <DataAnnotationsValidator />

                <MudGrid>
                    <MudItem xs="12">
                        <h3>Basic Information</h3>
                    </MudItem>
                    <MudItem xs="2">
                        <MudField Label="Firstname:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="firstName" @bind-Value="workerModel.FirstName" For="@(() => workerModel.FirstName)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Lastname:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="lastName" @bind-Value="workerModel.LastName" For="@(() => workerModel.LastName)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Phone:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="phone" @bind-Value="workerModel.Phone" For="@(() => workerModel.Phone)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Unit:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="unit" @bind-Value="workerModel.Unit" For="@(() => workerModel.Unit)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Address:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="address" @bind-Value="workerModel.Address" For="@(() => workerModel.Address)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="City:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="city" @bind-Value="workerModel.City" For="@(() => workerModel.City)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Province:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="province" @bind-Value="workerModel.Province" For="@(() => workerModel.Province)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Postcode:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="postcode" @bind-Value="workerModel.Postcode" For="@(() => workerModel.Postcode)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="WorkerAvailability:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudSelect @bind-Value="workerModel.WorkerAvailability"
                                       Variant="Variant.Filled"
                                       Dense="true"
                                           Placeholder="@(workerModel.WorkerAvailability ? "Available" :"Not Available")">
                                    <MudSelectItem Value="true">Available</MudSelectItem>
                                <MudSelectItem Value="false">Not Available</MudSelectItem>

                            </MudSelect>
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="CommissionRate:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="commissionRate" @bind-Value="workerModel.CommissionRate" For="@(() => workerModel.CommissionRate)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="12">
                        <h3>Login Information</h3>
                    </MudItem>
                    <MudItem xs="12">
                        <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                            @if (ShowResult)
                            {
                                <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" >@message</MudAlert>
                            }
                    </MudItem>
                        
                    <MudItem xs="2">
                        <MudField Label="Email:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="email" @bind-Value="workerModel.Email" For="@(() => workerModel.Email)" Variant="Variant.Filled" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Password:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="Password" @bind-Value="workerModel.Password" For="@(() => workerModel.Password)" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="2">
                        <MudField Label="Confirm Password:" AlignLabel="Align.Start" Underline="false" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudField Underline="false">
                                <MudTextField id="confirmPassword" @bind-Value="workerModel.ConfirmPassword" For="@(() => workerModel.ConfirmPassword)" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Buttonclick" AdornmentAriaLabel="Show Password" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="2">
                    </MudItem>

                    <MudItem xs="12">
                        <div style="display: flex; justify-content: center;" class="mt-6">
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Error" Class="Class.object-center" OnClick="@(()=>HandleCreateProfile())">Create Delivery Worker</MudButton>
                        </div>
                    </MudItem>
                 </MudGrid>
            </ChildContent>
        </EditForm>
    }
    </MudContainer>
</MudContainer>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Parameter]
    public int UserId { get; set; }

    private MerchantRegisterDTO merchantModel = new MerchantRegisterDTO
        {
            UserId = 0,
            FirstName = null,
            LastName = null,
            BusinessName = "New business",
            MerchantDescription = null,
            MerchantPic = null,
            Phone = "000-000-0000",
            Unit = null,
            Address = null,
            City = null,
            Province = null,
            Postcode = null,
            Type = "Main",
            PreparingTime = 0
        };

    private WorkerRegisterDTO workerModel = new WorkerRegisterDTO
        {
            UserId = 0,
            FirstName = null,
            LastName = null,
            Phone = "000-000-0000",
            Type = "Main",
            Unit = null,
            Address = null,
            City = null,
            Province = null,
            Postcode = null,
            WorkerAvailability = false,
            CommissionRate = 0,
            LastTaskAssigned = null
        };
    private ClaimsPrincipal user;

    public bool ShowErrors { get; set; } = false;
    public IEnumerable<string> Errors { get; set; } = new List<string>();

    private bool isWorker { get; set; } = false;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    public bool ShowResult { get; set; } = false;

    public string message = "You have successfully registered.";


    protected override async Task OnInitializedAsync()
    {
        ShowResult = false;
        var authState = await authenticationState;
        user = authState.User;
    }




    private async Task HandleCreateProfile()
    {
        Result result;

        if (isWorker)
        {
            result = await this.AuthService.WorkerRegister(workerModel);
        }
        else
        {
            result = await this.AuthService.MerchantRegister(merchantModel);
        }

        if (result.Succeeded)
        {
            ShowErrors = false;
            ShowResult = true;
            await Task.Delay(3000);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }

    void Buttonclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task LogToBrowserConsole(string message) => await JSRuntime.InvokeVoidAsync("console.log", message);
}